/* basic */
/* #main-doc {
    position: absolute;
    margin-left: 21em;
    margin-top: 8.5em;
    margin-right: 1em;
    background-color: #efefef;
    padding: 1em;
    border-radius: 20px;
    padding-bottom: 2em;
    width: 74vw;
} */


/* scriptTag */
.scriptTag {
    width: 78vw !important;
}

.scriptTag p a {
    color: rgb(148, 25, 25);
}

.scriptTag p a:hover {
    text-decoration: none;
}


/* alertPromptConfirm */
#main-doc {
    width: 74vw;
}

/* for mobile */
@media only screen and (max-width: 600px) {
    #main-doc {
        width: 97vw !important;
    }
}