html, body {
    /* font-family: 'Rajdhani', sans-serif; */
    font-family: 'Reenie Beanie', cursive;
    margin: 0;
    padding: 0;
}

html {
    background-color: #D9D9D9;
}


/* div#time */
#time {
    text-align: center;
    color: #8e5f5f;
    font-size: 2em;
    margin-top: 0.25em;
}


/* header */
.header {
    display: flex;
    /* border: 2px solid orange; */
}

.left {
    position: fixed;
    margin-top: 3.5em;
    margin-left: 1em;
}

.center {
    position: absolute;
    /* right: 30%; */
    left: 35%;
    font-size: 4rem;
}

.center a {
    color: #000000;
    text-decoration: none;
}

.center a:hover {
    text-decoration: underline;
    color: rgb(11, 92, 214);
    cursor: pointer;
}


/* nav */
#navbar {
    /* border: 2px solid orange; */
    position: fixed;
    width: 21vw;
    margin-top: 7.5em;
    height: 100%;
}

#navbar::-webkit-scrollbar {
    width: 10px;
}

#navbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#navbar::-webkit-scrollbar-thumb {
    background: #888;
}

#navbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#navbar ul {
    height: 78%;
    overflow-x: hidden;
    overflow-y: auto;
}

#navbar > ul > li {
    list-style: none;
    margin-left: -1em;
    margin-bottom: 0.75em;
}

#navbar > ul > li > a {
    font-size: 1.6em;
    text-decoration: none;
    color: rgb(170, 3, 153);
}

#navbar > ul > li > a:hover {
    color: rgb(79, 100, 255);
    text-decoration: underline;
}

#navbar ul li a:active {
    color: rgb(253, 2, 2);
}


/* main */
#main-doc {
    position: absolute;
    margin-left: 21em;
    margin-top: 8.5em;
    margin-right: 1em;
    background-color: #efefef;
    padding: 1em;
    border-radius: 20px;
    padding-bottom: 2em;
}

section > header {
    font-size: 3em;
}

section > header:hover {
    text-decoration: underline;
    cursor: pointer;
}

section > article {
    font-size: 1.5em;
    word-spacing: 5px;
}

.margin-from-top {
    margin-top: 3rem;
}


/* #hello_world {
    background-color: #b4b0b0;
    border-radius: 10px;
    padding-top: 1em;
} */

/* pre {
    background-color: #b4b0b0;
    border-radius: 10px;
} */

.language-js, .language-html {
    border-radius: 1em;
}

.toolbar-item > .copy-to-clipboard-button {
    cursor: pointer;
}


button[value="next"], button[value="prev"] {
    position: relative;
    left: 85%;
    background-color: orangered;
    border: 1px solid orangered;
    border-radius: 10px;
    width: 5rem;
    font-size: 1em;
}

button[value="next"]:hover, button[value="prev"]:hover {
    background-color: orange;
    border: 1px solid orange;
    border-radius: 5px;
}

button a {
    text-decoration: none;
    color: #f0f8ff;
}

button a:hover {
    color: #8b0b8b;
}


/* basics */
#main-doc > header {
    font-size: 4em;
    text-align: center;
    color: #a52a2a;
    text-decoration: underline;
}

#main-doc > header:hover {
    text-decoration: none;
}


/* expression and operators */
ol li {
    font-size: 2.25rem;
}

ol li:hover {
    text-decoration: underline;
}

dt {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

dl dt code, dl dd code, ul li code, p code, li code {
    background-color: #dbd7d7;
    border-radius: 5px;
    padding: 2.5px;
}

.note {
    background-color: #abd5f6;
    height: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #abd5f6;
    box-shadow: -3px 0px blue;
    padding-left: 2rem;
    padding-top: 1.5rem;
}

.note p {
    margin-top: auto;
}

.note p a {
    color: black;
}

.note p a:hover {
    text-decoration: none;
}

.margin-top {
    margin-top: 2rem;
}

.margin-1less-top {
    margin-top: 1rem;
}


/* strings */

article > h3 {
    text-decoration: underline;
}

.para {
    font-size: 1.5em;
}

.line-height-para {
    line-height: 40px;
}

.line-height-li {
    line-height: 32px;
}

.margin-1more-top {
    margin-top: 3rem;
}

article code[class*=language-], article pre[class*=language-] {
    font-size: 0.8em;
}

.hr-border-color {
    /* color: #efefef; */
    /* height: 5px; */
    border: 1px solid #efefef;
}


/* BOM_DOM */
.margin-2_5em-top {
    margin-top: 2.5em;
}


/* walking the DOM */
ol[type="a"] li {
    font-size: larger;
    text-decoration: none;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

article > h2 {
    text-decoration: underline;
}